In [58]:
import pyodbc
import pandas as pd
sql_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=anthonyucl.database.windows.net;DATABASE=ucldissert;UID=ypleungaa;PWD=@Bonbonissmart')

In [64]:
df = pd.read_csv("safety.csv")
df1 =df.dropna()
df1
df1.to_csv(r'safety1.csv')

In [60]:
cursor = sql_conn.cursor()

In [61]:
for index, row in df1.iterrows():
    print(row)

id    1
Name: 0, dtype: object
id    2
Name: 1, dtype: object
id    9
Name: 2, dtype: object
id    37
Name: 3, dtype: object
id    38
Name: 4, dtype: object
id    39
Name: 5, dtype: object
id    40
Name: 6, dtype: object
id    41
Name: 7, dtype: object
id    42
Name: 8, dtype: object
id    43
Name: 9, dtype: object
id    44
Name: 10, dtype: object
id    45
Name: 11, dtype: object
id    46
Name: 12, dtype: object
id    47
Name: 13, dtype: object
id    48
Name: 14, dtype: object

In [62]:
for index, row in df1.iterrows():
    cursor.execute("INSERT INTO dbo.test2([id]) values(?)", row['id'])
    
sql_conn.commit()
cursor.close()
sql_conn.close()

In [ ]:
for index, row in df.iterrows():
    cursor.execute("
    INSERT INTO dbo.safety (id,location,investigaton,date_of_accident,date_of_report,time_of_accident,ai_category,body_part,nature_of_injury,type_of_accident,no_of_days_lost,target_closure_date,actual_closure_date,investigation_level) 
    Values(?,?,?,?,?,?,?,?,?,?,?,?,?,?)", ),

sql_conn.commit()
row = cursor.fetchone()